extends layout

include mixins/_review
include mixins/_reviewForm

block content
    .single     
        .single__hero 
            img.single__image(src=`/uploads/${recipe.photo || 'store.png'}`)
            h2.title.title--single 
                a(href=`/recipe/${recipe.slug}`) #{recipe.name}
    
    .single__details.inner
        p #{recipe.description}
        if recipe.tags
            ul.tags
                each tag in recipe.tags 
                    li.tag 
                        a.tag__link(href=`/tags/${tag}`)
                            span.tag__text #{tag}
        
        if user 
            +reviewForm(recipe)

        if recipe.reviews 
            .reviews 
                each review in recipe.reviews
                    .review
                        +review(review)