extends layout

block content 
    .inner 
        h2 #{title}

        table.table 
            thead 
                tr
                    th Bild 
                    th Ranking 
                    th Name 
                    th Anz. Feedback 
                    th Rating
            tbody 
            each recipe, i in recipes 
                tr 
                    td: a(href=`/recipe/${recipe.slug}`)
                        img(src=`/uploads/${recipe.image || 'store.png'}` alt=recipe.name width=200)
                    td= i+1
                    td: a(href=`/recipe/${recipe.slug}`)= recipe.name 
                    td= recipe.reviews.length
                    td #{Math.round(recipe.avgRating *10) /10} von 5
